*{
    box-sizing: border-box;
    /* reset the page */
    margin: 0;
    padding: 0;
    font-family: "PT Serif", serif;
}

header{
    text-align: center;
}

h1{
    color: white;
    background-color: rgba(45,57,69,255);
    padding: 20px;
    text-transform: uppercase;
}

h1 + p{
    margin-top: 40px;
    font-weight: bold;
    font-size: 25px;
}

h1 + p + p{
    padding: 10px 25px 20px;
    margin: 0 10px;
    border-bottom: 5px solid rgba(45,57,69,255);
}

/* heading font colors */
h1 + p, h2, h3{
    color: rgba(45,57,69,255);
}

/* rest of pages font colors */
h1 + p + p, label, select, legend + p, footer, h3{
    color: slategray;
}

h2{
    font-size: 20px;
}
h3{
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0;
}
main{
    border-top: 3px solid rgba(45,57,69,255);
    margin: 5px 10px 0;
    padding: 5px 15px 0;
}

legend{
    padding: 15px 0 15px;
}

fieldset, input, textarea{
    border: none;
}

/* my design for contact info part */
#fieldset_one{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid rgba(45,57,69,255);
 }

label + input, select, textarea{
    margin-top: 10px;
    height: 40px;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
 }

 #zip{
    margin-bottom: 30px;
    width: 50%;
 }

input[id="name"]::placeholder, input[id="email"]::placeholder{
    text-align: right;
    font-style: italic;
    font-weight: 200;
    padding-right: 10px;

}
::placeholder{
    padding-left: 10px;
    
}

textarea::placeholder{
    padding: 15px;
    font-size: 1rem;
}

/* adding some spacing for some elements */
legend + p, h3, input[type="checkbox"]{
    margin-bottom: 10px;
}

/* adding space between checkboxes/radio and their labels */
input[type="checkbox"], input[type="radio"]{
    margin-left: 10px;
}
/* adding space between checkboxes/radio */
input[type="checkbox"] + label, input[type="radio"] + label{
    padding: 15px;
}

input[type="radio"] {
    margin-bottom: 10px;
}

/* creating space for textarea label */
label[for="topics"] {
    display: block; 
    margin: 12px 0 0; 
}

textarea, input[type="submit"]{
    width: 100%;
}

textarea{
    height: 100px;
}

/* button style */
input[type="submit"]{
    margin-top: 20px;
    height: 50px;
    border-radius: 5px;
    background-color: rgba(78,187,181,255);
    color: white;
    font-size: larger;
}

footer{
    text-align: center;
    margin: 20px 0;
    font-style: italic;
}
  
input, select, textarea{
    transition: width 1s, height 1s, background-color 0.5s;
}

input:focus, select:focus, textarea:focus {
    background-color: lightblue; 
  }

@media screen and (min-width: 768px){
    
    /* make the form smaller and centered */
    main, h1 + p + p {
        width: 80%; /* Makes the form responsive */
        max-width: 600px; /* Prevents it from getting too wide */
        margin: 5px auto; 
    }

    main{
        line-height: 2;
    }

    footer{
        margin-bottom: 100px;
    }

    h1 + p + p{
        padding-bottom: 30px;
    }

    /* change where labels/inputs are placed in contact info */
    #fieldset_one{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 20px;
    }

    #fieldset_one input, #fieldset_one select{
        flex-basis: 75%;
        margin-left: 15px;
        margin-bottom: 15px;
    }

    #fieldset_one label{
        flex-basis: 20%;
    }

    #zip{
        max-width: 30%;
    }

    #fieldset_two h2{
        margin-top: 20px;
    }
}
